button.cscenter-btn {
  border: none;
  width: 90px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  display: block;
  padding: 18px 10px 17px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  background-color: #283746;
}
button.cancel {
  border: none;
  width: 90px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  display: block;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  background-color: #eee;
}

button.ok {
  border: none;
  width: 90px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  display: block;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  background-color: #283746;
}
input[type='checkbox'] {
  width: 16px;
  height: 16px;
  margin-left: 1rem;
}
